@using WebMatrix.Data

@{
    Validation.RequireField("Username", "Dit veld mag niet leeg zijn!");
    Validation.RequireField("Password", "Dit veld mag niet leeg zijn!");

    Database db;
    using (db = Database.Open("Db_fondanti"))
    {
        if (IsPost && Validation.IsValid())
        {
            string Username = Request.Form["Username"];
            string password = Request.Form["password"];

            string select = "SELECT * FROM Login WHERE Username = @0 AND password = @1";

            var search_command = "SELECT Id FROM Login WHERE Username = @0 AND password = @1";
            var selectedData = db.QueryValue(search_command, Username, password);

            if (db.QuerySingle(select, Username, password) != null)
            {
                Session["LoggedIn"] = true;
                Session["Username"] = Username;
                Response.Redirect("~/ContentPage.cshtml");
            }
        }
    }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @RenderPage("Header.cshtml")
</head>
<body>
    @RenderPage("Navbar.cshtml")
    <div class="container">
        <h2>Administrator login.</h2>
        <div class="row justify-content-center">
            <div class="login col-lg-3">
                <form class="justify-content-center" method="post" action="">
                    <div class="form-group">
                        <input class="form-control" type="text" name="Username" value="" placeholder="Gebruikersnaam">
                        @Html.ValidationMessage("Username")
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" value="" placeholder="Wachtwoord">
                        @Html.ValidationMessage("Password")
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-primary" type="submit" name="commit" value="Inloggen">
                    </div>
                </form>
            </div>
        </div>
    </div>


    @RenderPage("Footer.cshtml")
</body>
</html>