@{
    Auth auth = new Auth();

    Validation.RequireField("Username", "Dit veld mag niet leeg zijn!");
    Validation.RequireField("Password", "Dit veld mag niet leeg zijn!");

    if (IsPost && Validation.IsValid())
    {
        
        string username = Request.Form["username"];
        string password = Request.Form["password"];

        if (auth.Login(username, password) > 0)
        {
            Session["LoggedIn"] = true;
            Session["Username"] = username;
        }
    }
}
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @RenderPage("Header.cshtml")
</head>
<body>
    @RenderPage("Navbar.cshtml")
    <div class="container">
        <div class="row justify-content-center">
            <div class="login col-lg-3">
                <h2>Administrator login.</h2>
                <form class="justify-content-center" method="post" action="">
                    <div class="form-group">
                        <input class="form-control" type="text" name="Username" value="" placeholder="Gebruikersnaam">
                        @Html.ValidationMessage("Username")
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="Password" value="" placeholder="Wachtwoord">
                        @Html.ValidationMessage("Password")
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-primary" type="submit" name="commit" value="Inloggen">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section>
        <h5>Als bezoeker van Fondanti heeft u geen account nodig!</h5>
    </section>
    @RenderPage("Footer.cshtml")
</body>
</html>